.droplet {
  background: skyblue;
  border-radius: 5px 50%;
  height: 100px;
  margin: 150px auto;
  transform-origin: left top;
  transition: transform 3s;
  width: 100px;
}
.droplet:hover {
  transform: rotate(500deg);
}
